{% extends 'base.html.twig' %} {% block title %}Coucou{% endblock %} {% block body %}

{# MA PAGE D'ACCUEIL #}
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">BIENVENUE SUR MON BLOG</h1>
        <p class="lead">Page d'accueil</p>
        <div><img src="img/2.jpg" alt=""></div>
    </div>
</div>

{% endblock %}