{% extends 'base.html.twig' %} {% block title %}Hello AccueilController!{% endblock %} {% block body %}


<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">BIENVENU SUR MON SYMFONY !</h1>
        <p class="lead m-5">Page d'accueil</p>

        <div class="row col-12">
            <div class="col-6  text-center">
                <img src="img/cats.jpg" alt="Photo : cat" class="img-fluid">
            </div>

            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem itaque, officiis, repellendus unde eligendi minus ratione excepturi iusto ea, recusandae reiciendis veniam quasi officia dignissimos iste quaerat rerum consequuntur dolore.
                    Temporibus necessitatibus odit non id odio maiores quas est quod officiis laborum nihil quisquam sed sunt eos reiciendis repudiandae aliquam ipsa consectetur ipsum, quo dolor. Molestias autem tempore inventore at. Blanditiis delectus
                    magnam distinctio et tempora possimus quas totam cum accusamus. Voluptatem, quae architecto soluta eius ipsam natus? Explicabo, dolorem tempore enim quod ipsam perferendis unde officiis veritatis dolorum qui.</p>
            </div>
        </div>      

        <div class="row col-12 m-5">
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem itaque, officiis, repellendus unde eligendi minus ratione excepturi iusto ea, recusandae reiciendis veniam quasi officia dignissimos iste quaerat rerum consequuntur dolore.
                    Temporibus necessitatibus odit non id odio maiores quas est quod officiis laborum nihil quisquam sed sunt eos reiciendis repudiandae aliquam ipsa consectetur ipsum, quo dolor. Molestias autem tempore inventore at. Blanditiis delectus
                    magnam distinctio et tempora possimus quas totam cum accusamus. Voluptatem, quae architecto soluta eius ipsam natus? Explicabo, dolorem tempore enim quod ipsam perferendis unde officiis veritatis dolorum qui.</p>
            </div>

            <div class="col-6  text-center">
                <img src="img/cat.jpg" alt="Photo : cat" class="img-fluid">
            </div>
        </div>

        <div class="row col-12">
            <div class="col-6  text-center">
                <img src="img/puppy.jpg" alt="Photo : puppy" class="img-fluid">
            </div>

            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem itaque, officiis, repellendus unde eligendi minus ratione excepturi iusto ea, recusandae reiciendis veniam quasi officia dignissimos iste quaerat rerum consequuntur dolore.
                    Temporibus necessitatibus odit non id odio maiores quas est quod officiis laborum nihil quisquam sed sunt eos reiciendis repudiandae aliquam ipsa consectetur ipsum, quo dolor. Molestias autem tempore inventore at. Blanditiis delectus
                    magnam distinctio et tempora possimus quas totam cum accusamus. Voluptatem, quae architecto soluta eius ipsam natus? Explicabo, dolorem tempore enim quod ipsam perferendis unde officiis veritatis dolorum qui.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}