{% extends "base.html.twig" %}
{% block title %} Accueil - Lastminute{% endblock %}

{% block body %}
        
        <div class="container">
          <div class="row p-5">

            <div class="col-8 mx-auto text-center">
              <img src=" {{ asset('img/1.jpg') }} " alt="IMAGE 1" class="img-fluid">
            </div>

          </div>
        </div>
        
{% endblock %}